<?xml version="1.0"?>
<model>
    <name>ADS-DV HQ</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>

    <author>
        <name>Jacob Culley</name>
        <email>jacob@culley.me</email>
    </author>

    <author>
        <name>Enric Gil</name>
        <email>enric.gil.esteller@gmail.com</email>
    </author>

    <author>
        <name>Tha Lin Htet</name>
        <email>19039407@brookes.ac.uk</email>
    </author>

    <description>
        IMechE ADS-DV Vehicle
    </description>
</model>
